@use '@angular/material' as mat;


.button-center {
    background-color: red;
}

// .group-block {
//     display: group !important;
// }

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.example {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.block{
    flex: 1 1 100%;
    flex-direction: column;
}

.orange {
  @include mat.button-overrides((
   tonal-container-color: orange,
  ));
  
}
.green {
  @include mat.button-overrides((
   filled-container-color: green,
  ));
  
}

.blue {
  @include mat.button-overrides((
   filled-container-color: blue,
  ));
  
}


